@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
:root {
    font-family: "Hammersmith One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-style: normal;
    --main: #1a73e8;
    --second: #0C47A1;
    --my-white: #fff;
    --my-white1: #ffffffae;
    --third: #202124;
    --third1: #202124ef;
};

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
}
.container-landing{
    position: relative;
    width: 100%;
    height: 100vh;
}
.underlined{
    position: relative;
}
.underlined::before{
    position: absolute;
    content: "";
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: var(--my-white);
}
.landing-01{
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.landing-01 video{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -10;
}
.landing-01::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -9;
    background-color: rgba(0, 0, 0, 0.85);
}
.nav{
    margin-top: 4vh;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
}
.nav .left{
    width: 35%;
    height: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
}
.left h2{
    font-size: 4rem;
    color: var(--my-white);
    text-shadow: 0 .4rem .5rem var(--main);
    padding: 0;
    margin: 0;
}
.right{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 4rem;
}
 .menue-link{
    padding: 2.5rem;
    top: 0;
    right: -950px;
    position: absolute;
    height: 65vh;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: var(--third);
    transition: 500ms ease-in-out;
}
.menue-link-active{
    right: 0;
}
.menue-link .link{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
span a{
    color: var(--my-white1);
    text-decoration: none;
    transition: 200ms;
}
span a:hover{
    color: var(--my-white);
}
.link span{
    font-size: 3rem;
    cursor: pointer;
}
.link p{
    width: 50%;
    color: var(--my-white);
}
.link svg{
    width: 50px;
    height: 50px;
    fill: var(--my-white);
    font-weight: bold;
    cursor: pointer;
}
.right .contact-btn{
    height: 5vh;
    width: 150px;
    font-size: 1rem;
    border-radius: 2rem;
    border: 2px solid var(--my-white);
    background-color: var(--third);
    color: var(--my-white);
    font-weight: bolder;
    box-shadow: 0 0 .5rem var(--main);
    cursor: pointer;
    transition: 200ms ease-in-out;
}
.contact-btn:active{
    transform: scale(.95);
}
.right svg{
    width: 50px;
    height: 50px;
    fill: var(--my-white);
    cursor: pointer;
}
.description{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 2rem;
   width: 95%;
}
.description .container-texte{
    width: 40%;
    height: 20vh;
    margin-left: 9rem;
}
.container-texte span{
    color: var(--my-white);
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.texte-center-change{
    font-size: 4rem;
    color: var(--my-white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms;
    text-shadow: 0 1rem .4rem var(--third1);
}
.texte-center-change svg{
    width: 50px;
    height: 50px;
    fill: var(--my-white);
    cursor: pointer;
    transition: 200ms;
}
.texte-center-change svg:active{
    transform: scale(1.5);
}
.adj{
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: texte 3s alternate-reverse infinite both;
    background-color: var(--third1);
    padding: 1.5rem;
    margin-left: 1.5rem;
    border-radius: 1rem;
    position: absolute;
    top: 40%;
    left: 55%;
}
.contact{
    transform: scale(0);
    width: 100%;
    height: 100%;
    z-index: 11;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 500ms;
}
.contact h2{
    font-size: 2.2rem;
    color: var(--my-white);
}
.contact span{
    font-size: 1.2rem;
    color: var(--my-white);
}
.contact svg{
    margin-top: 1rem;
    height: 50px;
    width: 50px;
    fill: var(--my-white);
    cursor: pointer;
    transition: 200ms;
}
.contact svg:hover{
    fill: var(--main);
}
.contact svg:active{
    transform: scale(.95);
}
.contact-active{
    transition: 200ms;
    transform: scale(1);
    background-color: var(--third1);
}
.ney-club{
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 30 !important;
    background-color: var(--third);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.ney-club .list-club{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.list-club .title{
    font-size: 3rem;
    color: var(--my-white);
    position: relative;
}
/* .title::before{
    position: absolute;
    content: "";
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: var(--my-white);
} */
.img-club{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  grid-auto-rows:30rem;
  gap: 2rem;
  width: 100% !important;
  height: 60%;
  overflow-x: hidden;

  /* background-color: red; */
}
.club{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 1rem;
    transform: translateX(-2000px);
    transition: 500ms ease-in-out;
}
.club img{
    overflow: hidden;
    min-height: 500px;
    max-width: 500px;
    object-position: center;
    object-fit: contain;
}
.club3 img{
    max-width: 400px !important;
    width: 100%;
}
.club4 img{
    width: 100%;
}
.club h3{
    color: var(--my-white);
}
.anim-club{
    transform: translateX(0) !important;
    /* overflow-x: hidden; */
}
.list-club .ball{
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.ball img{
    max-width: 200px;
    max-height: 200px;
    animation: ball 2s alternate 1.5s infinite  both;
}
@keyframes ball{
    0%{
        /* transform: translateY(0) translateZ(0); */
        transform: rotate(-40deg);
        opacity: 0.5;
    }
    50%{
        /* transform: translateY(0) translateZ(0); */
        /* transform: rotate(40deg); */
        opacity: 1;
    }
    to{
        /* transform: translateY(-64px) translateZ(-64px); */
        transform: rotate(40deg);
        opacity: 0.5;
    }
}
@keyframes texte{
    from{
        transform: translateY(64px) translateZ(-64px);
        opacity: 0;
    }
    to{
        transform: translateY(0) translateZ(0);
        opacity: 1;
    }
}
/* video et audio */
.bi-volume-mute-fill{
    display: none;
}
.v-up{
    display: flex;
}
.v-down{
    display: none;
}
.ney-photo{
    position: relative;
    z-index: 33;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: black;
    overflow-x: hidden;
}
.ney-photo .photo-item{
    position: relative;
    width: 95%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
}
.photo-item .photo{
    width: 45%;
    height: 100%;
}
.photo-item .photo-desc{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: var(--my-white);
    /* background-color: red; */
}
.photo-item .photo-desc p{
    font-size: 1.5rem;
}
.photo-item .photo-desc h2{
    font-size: 3.5rem;
}
.photo img{
    border-radius: 1.5rem !important;
    width: 80%;
    height: 400px;
    /* object-fit: cover; */
    box-shadow: 0 0 .25em var(--my-white);
}
.ney-tropher{
    position: relative;
    z-index: inherit;
    width: 100%;
    height: 80vh;
    background-color: var(--third);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.ney-tropher h2{
    font-size: 2.2rem;
    color: var(--my-white);
}
.tropher-list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    gap: 4rem;
    grid-auto-rows: 20rem;
    overflow-x: hidden;
    height: 45%;
}

.tropher-list .tropher-item{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}
.tropher-item img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.desc-tropher{
    position: relative;
    height: 15%;
    width:40%;
    border: 2px solid var(--my-white);
    border-radius: 10px;
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.desc-tropher p{
    color: var(--my-white);
    font-size: 1.5rem;
    margin: 0 auto;
}

/* classe reutilisable a condition que leur classe parent soient en overflow-x hidden */
.anim-translate{
    transform: translateX(-2000px);
    transition: 300ms ease-in-out;
}
.anim-translate-active{
    transform: translateX(0) !important;
}
.anim-translate-right{
    transform: translateX(2000px);
    transition: 300ms ease-in-out;
    overflow-x: hidden !important;

}
.anim-translate-right-active{
    transform: translateX(0) !important;
}
/* opacity active of menu btn */
.opac{
    opacity: 0;
    transition: 500ms;
}
@media screen and (max-width:1425px) {
    .texte-center-change h2{
        font-size: 4rem !important;
    }
    .description{
        width: 100% !important;
        
    }
    .container-texte {
        width: 60% !important;
        margin-left: 2.5rem !important;
    }
}


/* Version Tablete */
@media screen and (max-width:1023px) and (min-width:768px) {

    .left{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .left h2{
        font-size: 2.5rem !important;
        margin: 0;
        padding: 0;
    }
    .right{
        width: 40%;
        padding-right: 1rem;
    }
    .right .contact-btn{
        height: 4vh;
        width: 120px;
        font-size: .9rem;
        border-radius: 2rem;
        border: 1.5px solid var(--my-white);
        box-shadow: 0 0 .25rem var(--main);
    }   
    .texte-center-change{
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .texte-center-change h2{
        text-align: left;
    }
    .texte-center-change .adj{
        left: 40% !important;
    }
    .description .container-texte{
        width: 80% !important;
        padding: 0;
    }
    .menue-link{
        width: 500px;
    }
    .menue-link .link p{
        width: 80%;
    }
}

/* Version Mobile */

@media  screen and (max-width:768px) {
    .left{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .left h2{
        font-size: 1.5rem !important;
        margin: 0;
        padding: 0;
    }
    .right{
        width: 50%;
        padding-right: 0rem;
    }
    .right .contact-btn{
        height: 4vh;
        width: 90px;
        font-size: .8rem;
        border-radius: 2rem;
        border: 1.5px solid var(--my-white);
        box-shadow: 0 0 .25rem var(--main);
    } 
    .right svg{
        height: 30px;
        width: 30px;
    }
    .texte-center-change{
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .texte-center-change h2{
        text-align: left;
        font-size: 2rem !important; 
    }
    .texte-center-change .adj{
        padding: 0.5rem !important;
        left: 30% !important;
        background-color: black;
    }

    @keyframes texte{
        from{
            transform: translateY(64px) translateZ(-64px);
            opacity: 0;
        }
        to{
            transform: translateY(10px) translateZ(10px);
            opacity: 1;
        }
    }
    .texte-center-change svg{
        height: 30px;
        width: 30px;
    }
    .description .container-texte{
        width: 90% !important;
        padding: 0;
        margin-left: 1rem !important;
    }
    .container-texte span{
        font-size: .8rem !important;
    }
    .menue-link{
        width: 250px;
        padding: 1rem;
    }
    .menue-link .link svg{
        height: 30px;
        width: 30px;
    }
    .menue-link .link span{
        font-size: 1.5rem;
    }
    .menue-link .link p{
        width: 100% !important;
    }
    .contact h2{
        font-size: 1rem;
    }
    .contact span{
        font-size: .8rem;
    }
}